---
layout: layouts/home.njk
---
<p>hello!!! i'm thea/luna. i'm a trans woman thats really into cubing, coding, reading and electronics.</p>
<a rel="me" href="https://woof.tech/@thea" class="visually-hidden">Mastodon</a> <p>WHY ISNT THIS LINK INVISIBLE AAAA -January 2026</p>
<h2>recent posts</h2>
{% set maxPosts = collections.posts.length | min(3) %}
{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}
<p>more posts can be found in <a href="{{ '/posts/' | url }}">the vault</a>.</p>
