---
layout: layouts/base.njk
templateClass: tmpl-guestbook
title: Guestbook
permalink: /guestbook/
---
<h1>Guestbook</h1>
<p>share your ideas or some kinds words. <3 </p>
<iframe src="{{ guestbook.url }}" title="Guestbook" loading="lazy" width="100%" height="720" style="border: 1px solid #ccc; border-radius: 8px;"></iframe>
