<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ metadata.title }}">
    <meta property="og:url" content="{{ metadata.url + page.url.slice(1) }}">
    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta property="og:description" content="{{ description or metadata.description }}">

    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content="{{ metadata.url + page.url.slice(1) }}">
    <meta property="twitter:title" content="{{ title or metadata.title }}">
    <meta property="twitter:description" content="{{ description or metadata.description }}">
  </head>
  <body>
    <header class="site-nav">
      {% set navCount = metadata.nav | length %}
      {% set midpoint = (navCount / 2) | round(0, 'ceil') %}
      <div class="nav-line">
        {% for entry in metadata.nav %}
          {% if loop.index <= midpoint %}
            <a class="nav-link{% if entry.url == page.url %} active{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
      <div class="nav-line">
        {% for entry in metadata.nav %}
          {% if loop.index > midpoint %}
            <a class="nav-link{% if entry.url == page.url %} active{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>
  </body>
</html>
